#  `pandas`

**These notes were delivered in the 2017 version of DSCI 531. None of this content is required for the 2018 iteration of the course.**

`pandas` allows us to work with objects similar to R's data frames. Together with `matplotlib`, we obtain a more flexible plotting capability -- but let's first see the data frame capability of `pandas`. 

### 1.1 Subsetting Data Frames

Read in the `gapminder` data located in `lec6_files`:

In [13]:
gapminder = pd.read_csv("lec6_files/gapminder.csv")
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Columns are known as "Series", and can be extracted with single `[]`:

In [14]:
type(gapminder["gdpPercap"])

pandas.core.series.Series

In [15]:
gapminder_small = gapminder.head()
gapminder_small["gdpPercap"]

0    779.445314
1    820.853030
2    853.100710
3    836.197138
4    739.981106
Name: gdpPercap, dtype: float64

Or:

In [16]:
gapminder_small.gdpPercap

0    779.445314
1    820.853030
2    853.100710
3    836.197138
4    739.981106
Name: gdpPercap, dtype: float64

Use double square brackets to get a subsetted data frame:

In [41]:
gapminder_small[["gdpPercap"]]

    gdpPercap
0  779.445314
1  820.853030
2  853.100710
3  836.197138
4  739.981106

In [42]:
gapminder_small[["lifeExp", "gdpPercap"]]

   lifeExp   gdpPercap
0   28.801  779.445314
1   30.332  820.853030
2   31.997  853.100710
3   34.020  836.197138
4   36.088  739.981106

We can also do filtering, similar to how we can filter in base R:

In [43]:
gapminder[gapminder["country"] == "Canada"]
## Or,
gapminder[gapminder.country == "Canada"]

    country continent  year  lifeExp       pop    gdpPercap
240  Canada  Americas  1952   68.750  14785584  11367.16112
241  Canada  Americas  1957   69.960  17010154  12489.95006
242  Canada  Americas  1962   71.300  18985849  13462.48555
243  Canada  Americas  1967   72.130  20819767  16076.58803
244  Canada  Americas  1972   72.880  22284500  18970.57086
245  Canada  Americas  1977   74.210  23796400  22090.88306
246  Canada  Americas  1982   75.760  25201900  22898.79214
247  Canada  Americas  1987   76.860  26549700  26626.51503
248  Canada  Americas  1992   77.950  28523502  26342.88426
249  Canada  Americas  1997   78.610  30305843  28954.92589
250  Canada  Americas  2002   79.770  31902268  33328.96507
251  Canada  Americas  2007   80.653  33390141  36319.23501

We can even use conditionals: `&` for "and", `|` for "or" -- just don't forget your parentheses:

In [44]:
gapminder[(gapminder.country=="Canada") & (gapminder.year > 1990)]

    country continent  year  lifeExp       pop    gdpPercap
248  Canada  Americas  1992   77.950  28523502  26342.88426
249  Canada  Americas  1997   78.610  30305843  28954.92589
250  Canada  Americas  2002   79.770  31902268  33328.96507
251  Canada  Americas  2007   80.653  33390141  36319.23501

Note: the equivalent of `%in%` in R is the `.isin` method.

Alternatively, we can directly subset indices using the `.iloc` function:

In [45]:
gapminder.iloc[0:3, 1:5]

  continent  year  lifeExp       pop
0      Asia  1952   28.801   8425333
1      Asia  1957   30.332   9240934
2      Asia  1962   31.997  10267083

### 1.2 Manipulating data frames with `pandas`

We can also use `pandas` to do computations on data frames. Check out the options available after typing "`.`" after a data frame.

In [46]:
gapminder.corr()

               year   lifeExp       pop  gdpPercap
year       1.000000  0.435611  0.082308   0.227318
lifeExp    0.435611  1.000000  0.064955   0.583706
pop        0.082308  0.064955  1.000000  -0.025600
gdpPercap  0.227318  0.583706 -0.025600   1.000000

In [47]:
gapminder.sum()

country      AfghanistanAfghanistanAfghanistanAfghanistanAf...
continent    AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
year                                                   3373068
lifeExp                                                 101344
pop                                                50440465801
gdpPercap                                          1.22949e+07
dtype: object

In [48]:
gapminder.mean()

year         1.979500e+03
lifeExp      5.947444e+01
pop          2.960121e+07
gdpPercap    7.215327e+03
dtype: float64

We can _group_ using `pandas`, too -- similar to `dplyr`'s `group_by` (the `pandas` version is basically results in a dictionary):

In [49]:
gapminder.groupby("continent")

Those operations again, but on grouped data (note that the grouping variable is no longer a "column" in the data frame):

In [50]:
gapminder.groupby("continent").corr()

                     gdpPercap   lifeExp       pop      year
continent
Africa    gdpPercap   1.000000  0.425608 -0.019400  0.160079
          lifeExp     0.425608  1.000000  0.121041  0.546584
          pop        -0.019400  0.121041  1.000000  0.271913
          year        0.160079  0.546584  0.271913  1.000000
Americas  gdpPercap   1.000000  0.558366  0.628871  0.306317
          lifeExp     0.558366  1.000000  0.250208  0.680181
          pop         0.628871  0.250208  1.000000  0.138565
          year        0.306317  0.680181  0.138565  1.000000
Asia      gdpPercap   1.000000  0.382048 -0.131635  0.137252
          lifeExp     0.382048  1.000000  0.033153  0.660027
          pop        -0.131635  0.033153  1.000000  0.115534
          year        0.137252  0.660027  0.115534  1.000000
Europe    gdpPercap   1.000000  0.780783  0.109724  0.608753
          lifeExp     0.780783  1.000000  0.062315  0.706021
          pop         0.109724  0.062315  1.000000  0.086338
          year        0.608753  0.706021  0.086338  1.000000
Oceania   gdpPercap   1.000000  0.956474  0.578223  0.925550
          lifeExp     0.956474  1.000000  0.436237  0.976764
          pop         0.578223  0.436237  1.000000  0.342983
          year        0.925550  0.976764  0.342983  1.000000

In [51]:
gapminder.groupby("continent").sum()

              year      lifeExp          pop     gdpPercap
continent
Africa     1235208  30491.96600   6187585961  1.368903e+06
Americas    593850  19397.62100   7351438499  2.140833e+06
Asia        783882  23785.70168  30507333901  3.129252e+06
Europe      712620  25885.32700   6181115304  5.209011e+06
Oceania      47508   1783.82900    212992136  4.469186e+05

In [52]:
gapminder.groupby("continent").mean()

             year    lifeExp           pop     gdpPercap
continent
Africa     1979.5  48.865330  9.916003e+06   2193.754578
Americas   1979.5  64.658737  2.450479e+07   7136.110356
Asia       1979.5  60.064903  7.703872e+07   7902.150428
Europe     1979.5  71.903686  1.716976e+07  14469.475533
Oceania    1979.5  74.326208  8.874672e+06  18621.609223

Lastly, we'll need to know how to _pivot_ a data frame -- that is, make it "wide". We can use the `.pivot` method, specifying the 

- _index_ variable (akin to row names, optional), 
- _columns_ variable (akin to column names), and
- _values_ variable (the cell entries).

__Note__: This is one big difference with plotting in `ggplot2`, which almost never anticipates a wide data frame. 

Let's make a data frame where columns are continents, and the cell values are GDP per capita (there is no index in this case):

In [53]:
gapminder.pivot(columns="continent", values="gdpPercap").head(20)

continent  Africa  Americas        Asia       Europe  Oceania
0             NaN       NaN  779.445314          NaN      NaN
1             NaN       NaN  820.853030          NaN      NaN
2             NaN       NaN  853.100710          NaN      NaN
3             NaN       NaN  836.197138          NaN      NaN
4             NaN       NaN  739.981106          NaN      NaN
5             NaN       NaN  786.113360          NaN      NaN
6             NaN       NaN  978.011439          NaN      NaN
7             NaN       NaN  852.395945          NaN      NaN
8             NaN       NaN  649.341395          NaN      NaN
9             NaN       NaN  635.341351          NaN      NaN
10            NaN       NaN  726.734055          NaN      NaN
11            NaN       NaN  974.580338          NaN      NaN
12            NaN       NaN         NaN  1601.056136      NaN
13            NaN       NaN         NaN  1942.284244      NaN
14            NaN       NaN         NaN  2312.888958      NaN
15            NaN       NaN         NaN  2760.196931      NaN
16            NaN       NaN         NaN  3313.422188      NaN
17            NaN       NaN         NaN  3533.003910      NaN
18            NaN       NaN         NaN  3630.880722      NaN
19            NaN       NaN         NaN  3738.932735      NaN

All those `NaN`s are fine (`NaN`="Not a Number") -- after all, we can't line up these columns anyway, because each continent has a different set of countries. 

If the data frame is _grouped_, then the `.unstack` method is more appropriate than `.pivot`. The opposite is `.stack`, and you can think of this terminology in terms of the cell values: a long data frame has all of its "values" stacked in a column, whereas a wide data frame has the groups of values unstacked in their own columns. 

To use `unstack`, indicate the grouping variables by the `level` argument (be sure to remove unwanted columns in the data frame before unstacking, or you'll get an unstacked version of each potential "value" column). 

Here's the minimum GDP per capita for each year and continent:

In [54]:
gap_min = gapminder.groupby(["continent", "year"]).min()[["gdpPercap"]]
gap_min.head(15)

                  gdpPercap
continent year
Africa    1952   298.846212
          1957   335.997115
          1962   355.203227
          1967   412.977514
          1972   464.099504
          1977   502.319733
          1982   462.211415
          1987   389.876185
          1992   410.896824
          1997   312.188423
          2002   241.165877
          2007   277.551859
Americas  1952  1397.717137
          1957  1544.402995
          1962  1662.137359

We can make that "wide" with `.unstack`. Let's say we want `continent` as columns:

In [55]:
gap_min.unstack(level="continent")

            gdpPercap
continent      Africa     Americas   Asia       Europe      Oceania
year
1952       298.846212  1397.717137  331.0   973.533195  10039.59564
1957       335.997115  1544.402995  350.0  1353.989176  10949.64959
1962       355.203227  1662.137359  388.0  1709.683679  12217.22686
1967       412.977514  1452.057666  349.0  2172.352423  14463.91893
1972       464.099504  1654.456946  357.0  2860.169750  16046.03728
1977       502.319733  1874.298931  371.0  3528.481305  16233.71770
1982       462.211415  2011.159549  424.0  3630.880722  17632.41040
1987       389.876185  1823.015995  385.0  3738.932735  19007.19129
1992       410.896824  1456.309517  347.0  2497.437901  18363.32494
1997       312.188423  1341.726931  415.0  3193.054604  21050.41377
2002       241.165877  1270.364932  611.0  4604.211737  23189.80135
2007       277.551859  1201.637154  944.0  5937.029526  25185.00911

Check out the [`pandas` reshaping documentation](https://pandas.pydata.org/pandas-docs/stable/reshaping.html) for more info on pivoting, unstacking, and stacking.

## 3 Exercises

### 3.1 Live coding example

I'll demonstrate answers to the following question for the `gapminder` data frame. 

Make a ("wide") data frame of the mean life expectancy for each combination of year and continent. In addition,

- Only consider data since the '90s.
- Ensure years are in the columns

In [56]:
gapminder[gapminder.year >= 1990].groupby(["year", "continent"]).mean()[["lifeExp"]].unstack("year")

             lifeExp
year            1992       1997       2002       2007
continent
Africa     53.629577  53.598269  53.325231  54.806038
Americas   69.568360  71.150480  72.422040  73.608120
Asia       66.537212  68.020515  69.233879  70.728485
Europe     74.440100  75.505167  76.700600  77.648600
Oceania    76.945000  78.190000  79.740000  80.719500

### 3.2 Your Turn

1. Subset the `gapminder` data frame so that it only contains data from Europe in 2007.

In [57]:
gapminder[(gapminder.continent=="Europe") & (gapminder.year==2007)]

                     country continent  year  lifeExp       pop     gdpPercap
23                   Albania    Europe  2007   76.423   3600523   5937.029526
83                   Austria    Europe  2007   79.829   8199783  36126.492700
119                  Belgium    Europe  2007   79.441  10392226  33692.605080
155   Bosnia and Herzegovina    Europe  2007   74.852   4552198   7446.298803
191                 Bulgaria    Europe  2007   73.005   7322858  10680.792820
383                  Croatia    Europe  2007   75.748   4493312  14619.222720
407           Czech Republic    Europe  2007   76.486  10228744  22833.308510
419                  Denmark    Europe  2007   78.332   5468120  35278.418740
527                  Finland    Europe  2007   79.313   5238460  33207.084400
539                   France    Europe  2007   80.657  61083916  30470.016700
575                  Germany    Europe  2007   79.406  82400996  32170.374420
599                   Greece    Europe  2007   79.483  10706290  27538.411880
683                  Hungary    Europe  2007   73.338   9956108  18008.944440
695                  Iceland    Europe  2007   81.757    301931  36180.789190
755                  Ireland    Europe  2007   78.885   4109086  40675.996350
779                    Italy    Europe  2007   80.546  58147733  28569.719700
1019              Montenegro    Europe  2007   74.543    684736   9253.896111
1091             Netherlands    Europe  2007   79.762  16570613  36797.933320
1151                  Norway    Europe  2007   80.196   4627926  49357.190170
1235                  Poland    Europe  2007   75.563  38518241  15389.924680
1247                Portugal    Europe  2007   78.098  10642836  20509.647770
1283                 Romania    Europe  2007   72.476  22276056  10808.475610
1343                  Serbia    Europe  2007   74.002  10150265   9786.534714
1379         Slovak Republic    Europe  2007   74.663   5447502  18678.314350
1391                Slovenia    Europe  2007   77.926   2009245  25768.257590
1427                   Spain    Europe  2007   80.941  40448191  28821.063700
1475                  Sweden    Europe  2007   80.884   9031088  33859.748350
1487             Switzerland    Europe  2007   81.701   7554661  37506.419070
1583                  Turkey    Europe  2007   71.777  71158647   8458.276384
1607          United Kingdom    Europe  2007   79.425  60776238  33203.261280

2\. Make a ("wide") data frame, where columns are year, rows are continent, and the cell values are the smallest GDP per capita for that combination of year and continent.

In [58]:
gapminder.groupby(["year", "continent"]).min()[["gdpPercap"]].unstack("year")

              gdpPercap                                            \
year               1952          1957          1962          1967
continent
Africa       298.846212    335.997115    355.203227    412.977514
Americas    1397.717137   1544.402995   1662.137359   1452.057666
Asia         331.000000    350.000000    388.000000    349.000000
Europe       973.533195   1353.989176   1709.683679   2172.352423
Oceania    10039.595640  10949.649590  12217.226860  14463.918930

                                                                   \
year               1972          1977          1982          1987
continent
Africa       464.099504    502.319733    462.211415    389.876185
Americas    1654.456946   1874.298931   2011.159549   1823.015995
Asia         357.000000    371.000000    424.000000    385.000000
Europe      2860.169750   3528.481305   3630.880722   3738.932735
Oceania    16046.037280  16233.717700  17632.410400  19007.191290


year               1992          1997          2002          2007
continent
Africa       410.896824    312.188423    241.165877    277.551859
Americas    1456.309517   1341.726931   1270.364932   1201.637154
Asia         347.000000    415.000000    611.000000    944.000000
Europe      2497.437901   3193.054604   4604.211737   5937.029526
Oceania    18363.324940  21050.413770  23189.801350  25185.009110